

.conversations-container {
  display: flex;
  flex-direction: row; 
  width: 100%;      
  width: 1400px; 
  margin-left: 100px;
  height: 80vh;       
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  overflow-y: auto;
}


.friends-list {
  width: 300px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  background-color: #263a53;
  color: white;
}

.friend-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.friend-item:hover {
  background-color: #e0e0e0;
}
.chat{
    color: white;
    align-items: start;
}

/* Chat area */
.chat-area {
  flex: 1; /* take remaining width */
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages-container {
  flex: 1; /* take available height */
  overflow-y: auto;
  padding: 10px;
  background-color: #263a53;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 60%;
  margin: 4px 0;
}

.my-message {
  background-color: #136fd8;
  align-self: flex-end;
}

.other-message {
  background-color: #929292;
  align-self: flex-start;
}

.input-container {
  display: flex;
  margin-top: 10px;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}
.message-input {
  flex: 1;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-right: 8px;
}

.send-button {
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  background-color: #128C7E;
  color: white;
  cursor: pointer;
}

.send-button:hover {
  background-color: #075E54;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  position: relative;
}

.my-message-wrapper {
  align-items: flex-end; 
}

.message-time {
  font-size: 10px;
  color: #888;
  margin-top: 2px;
}
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-color: #263a53;
  padding: 20px;
}

.icon-circle {
  background: rgba(59, 130, 246, 0.1);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b82f6;
  margin-bottom: 20px;
  border: 1px dashed rgba(59, 130, 246, 0.4);
}

.empty-state h2 { font-size: 1.8rem; margin-bottom: 8px; }
.empty-state p { color: #94a3b8; max-width: 300px; }