

.conversations-container {
  display: flex;
  flex-direction: row; 
  width: 100%;      
  width: 1400px; 
  margin-left: 100px;
  height: 80vh;       
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  overflow-y: auto;
}

/* Friends list */
.friends-list {
  width: 300px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  background-color: #f4f4f4;
  color: black;
}

.friend-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.friend-item:hover {
  background-color: #e0e0e0;
}
.chat{
    color: white;
    align-items: start;
}

/* Chat area */
.chat-area {
  flex: 1; /* take remaining width */
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages-container {
  flex: 1; /* take available height */
  overflow-y: auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 60%;
  margin: 4px 0;
}

.my-message {
  background-color: #136fd8;
  align-self: flex-end;
}

.other-message {
  background-color: #E5E5EA;
  align-self: flex-start;
}

.input-container {
  display: flex;
  margin-top: 10px;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}
.message-input {
  flex: 1;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-right: 8px;
}

.send-button {
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  background-color: #128C7E;
  color: white;
  cursor: pointer;
}

.send-button:hover {
  background-color: #075E54;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* default left */
  position: relative;
}

.my-message-wrapper {
  align-items: flex-end; /* right for your messages */
}

.message-time {
  font-size: 10px;
  color: #888;
  margin-top: 2px;
}
