.loginContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
  font-family: 'Inter', sans-serif;
}

.card {
  background: rgba(26, 75, 107, 0.95);
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.inputGroup {
  position: relative;
  margin-bottom: 1.2rem;
}

.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #764ba2;
  box-shadow: 0 0 0 2px rgba(118, 75, 162, 0.2);
}

.togglePassword {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 0.8rem;
}

.button {
  width: 100%;
  padding: 12px;
  background: #764ba2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
}

.button:hover {
  background: #5a397a;
  transform: translateY(-1px);
}

.button:disabled {
  background: #ccc;
}

.linkText {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: white
}

.link {
  color: #764ba2;
  text-decoration: none;
  font-weight: 600;
}

.error {
  background: #fee2e2;
  color: #dc2626;
  padding: 10px;
  border-radius: 6px;
  margin-top: 1rem;
  font-size: 0.85rem;
}